body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  #requestType {
    margin: 20px auto;
    display: block;
    width: 200px;
    padding: 10px;
  }
  
  #requestType option {
    padding: 5px;
  }
  